[Desktop Entry]
Name=PeachBlue
Comment=A PeachBlue Theme
X-KDE-PluginInfo-Author=PapierFliegr
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=PeachBlue
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0


